@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Medula+One&display=swap');

#wallet fieldset {
    border: 2px solid #761112;
    padding: 5px;
    background-size: 260px;
    width: 1020px;
    height: 370px;
}

#wallet .photo img {
    border: 2px solid #761112;
    width: 110px;
    height: 130px;
    margin-right: 2px;
}

#wallet .address {
    color: #761112;
    padding-left: 3px;
    font-size: 1.1em;
}

#wallet .label {
    font-weight: bolder;
    color: #761112;
    font-size: 1.3em;
}

#wallet .text {
    color: #7f3f00;
    font-weight: bolder;
    font-style: italic;
}

#wallet .nameLogo img {
    padding-right: 5px;
    height: 65px;
}

#wallet .divisor-right {
    border-left: 2px solid #761112;
    width: 2%;
}

#wallet .signature {
    text-align: center;
}

#wallet .data div, #wallet .dataAddress div {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
    border: 1px solid #761112;
    margin: 3px;
}

#wallet .data div {
    height: 27px;
}

#wallet .edge {
    border: 2px solid #761112;
}

#wallet .year {
    font-weight: bolder;
}
