#moviment a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    #moviment {
        font-size: 1em;
    }
}

#moviment .list {
    text-align: center;
}

#moviment .new {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 25px auto;
}

#moviment .new select, #moviment .new input {
    font-size: 1em;
}

#moviment .new section {

}

#moviment .new section.midle {
    background: #e1e4d9;
    box-shadow: 2px 2px 2px gray;
    overflow: scroll;
}

#moviment .new #tab-form-moviment {
    margin: 30px;
    font-size: .8em;
    font-weight: bolder;
    /* width: 500px; */
}

#moviment .new .buttons {
    text-align: right;
    margin-top: -2px;
    /* margin-bottom: -21px; */
}

@media screen and (max-width: 900px) {
    /* #moviment .new {
        display: block;
    } */
}

/* #moviment .side-left, #moviment .side-right {
    width: 140px;
    margin-left: -100px;
} */

/* #moviment .side-left button {
    margin-bottom: 4px;
    border-radius: 10px 0 0 10px;
    float: right;
} */

#moviment .buttons button {
    border-radius: 0 0 5px 5px;
}

#moviment caption {
    text-align: right;
    color: #212529;
}

#moviment select, #moviment input {
    font-size: .9em;
}
